<!doctype html>
  <body>
    <div class="quemSomos">
        <h1>Quem somos?</h1>
        <div>
           Nos somos uma plataforma focada em fornecer para os nossos clientes a melhor experiencia ao escolher um barbearia!
           Fornecemos um amplo catalogo das melhores barbearias próximas a região onde se localizada o cliente em questão, no catalogo podemos encontrar a descrição resumida
           dos serviços fornecidos pelas barbarias.
        </div>
    </div>

    <img src="/docs/assets/img/bg.jpg" class="img-fluid" class="mx-auto d-block" alt="...">
  </body>