<!doctype html>
  <body>
    <div class="formulario">
        <h1>Cadastre-se</h1>
        <form class="row g-3">
            <div class="input-group">
                <span class="input-group-text">Primeiro e ultimo nome</span>
                <input type="text" aria-label="First name" class="form-control">
            </div>
            <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Senha</label>
            <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
            <label for="inputAddress" class="form-label">Rua</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Rua exemplo, 123">
            </div>
            <div class="col-12">
            <label for="inputAddress2" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Casa, apartamento, andar">
            </div>
            <div class="col-md-6">
            <label for="inputCity" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
            <label for="inputState" class="form-label">Estado</label><br>
            <select id="inputState" class="form-select">
                <option selected>Escolha...</option>
                <option>São Paulo</option>
                <option>Rio de Janeiro</option>
                <option>...</option>
            </select>
            </div>
            <div class="col-md-2">
            <label for="inputZip" class="form-label">CEP</label>
            <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                Check me out
                </label>
            </div>
            </div>
            
            <div class="col-12">
            <a class="btn btn-primary" href="http://localhost:4200/home" role="button">Registre-se</a>
            </div>
        </form>
    </div>
  </body>