
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark" >
    <a class="navbar-brand mx-4" href="/home">Fio da Navalha</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="selected" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sobre" routerLinkActive="selected" class="nav-link">Sobre</a>
            </li>
        </ul>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/login" class="btn btn-primary enable" tabindex="-1" role="button" aria-disabled="true" style="margin-right: 1em;">Registre-se</a>
    </div>
    <hr>
    <a routerLink="/sobre" routerLinkActive="selected">sobre</a>
    <a routerLink="/signup" routerLinkActive="selected">Signup</a><br>
    <a routerLink="/master" routerLinkActive="selected">Master</a><br>
    <a routerLink="/home" routerLinkActive="selected">Home</a><br>
    <a routerLink="/reports" routerLinkActive="selected">Reports</a><br>
    <hr>
</nav>

