<div class="geral">
<div class="card-group">
  <div class="card">
    <img src="assets/img/bg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Barbearia Freela</h5>
      <p class="card-text">Melhor barbearia da região, barbairos especializados em cortes infantis.<br>
      venha conhecer, faça seu agendamento.
      </p>
      <p>Tel: (19) 96591-3543</p>
      <p class="card-text"><small class="text-muted">Ultima atualização 5 min atrás.</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/img2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adalto Barbershop</h5>
      <p class="card-text">Barbearia tematica, localizada na região do Guanabara, próxima ao posto.<br>
      venha conhecer, faça seu agendamento.
      </p>
      <p>Tel: (19) 93291-3993</p>
      
      <p class="card-text"><small class="text-muted">Ultima atualização 3 min atrás.</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/img3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fio da Navalha</h5>
      <p class="card-text">Barbearia mais tradicional, localizada na região do Mansões Santo Antonio, próxima ao Supermercado.<br>
      venha conhecer, faça seu agendamento.</p>
      <p>Tel: (19) 98377-3213</p>
      <p class="card-text"><small class="text-muted">Ultima atualização 8 min atrás.</small></p>
    </div>
  </div>
</div>

<h2>As melhores barbearias!</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Telfone</th>
      <th scope="col">Rede social</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbearia Freela</td>
      <td>(19) 96591-3543</td>
      <td>@twitterFreela</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Adalto Barbershop</td>
      <td>(19) 93291-3993</td>
      <td>@twitterAdalto</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Fio da Navalha</td>
      <td>(19) 98377-3213</td>
      <td>@twitterFio</td>
    </tr>
  </tbody>
</table>
</div>